body { 
    font-family: 'Montserrat', sans-serif;
}

.fondo-gris { 
    background-color: #020202;
}

header {
    background-image: url(../img/New\ Project.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 90vh;
}

header div h1 { 
    font-weight: 700  ;
}

.nombre { 
    font-weight: 300;
}

.titulo1 { 
    margin-top: 300px;
}

.sobre-mi { 
    background-color: #6E6560;
    color: #ffffff;
}

.texto-col { 
    font-weight: 300;
    font-size: 12px;
}

#experiencia { 
    background-color: #E0DAD7;
}

.nomtrab { 
    font-weight: 700;
}

.fechas { 
    font-weight: 300;
    font-size: 12px;
}

.fab { 
    color: #ffffff;
}

#trabajos { 
    background-color: #6E6560;  
}

.card {
    background-color: #E0DAD7;
}
