body { 
    font-family: 'Montserrat', sans-serif;
}

.logo { 
    font-weight: 900;
}

header {
    background-image: url(../img/New\ Project.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 80vh;
}