body { 
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
}

.fondo-gris { 
    background-color: #020202;
}

header {
    background-image: url(../img/New\ Project.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 90vh;
}

header div h1 { 
    font-weight: 900;
}

.nombre { 
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
}

.titulo1 { 
    margin-top: 300px;
}

.sobre-mi { 
    background-color: #6E6560;
    color: #ffffff;
}

.texto-col { 
    font-weight: 300;
}

#experiencia { 
    background-color: #E0DAD7;
}

.fab { 
    color: #ffffff;
}